body 
{
    background-color: #babaeb;
    font-family: 'Lobster', cursive;    
    max-width: 900px;  
    margin:0 auto;}

    h1{ font-size:3.5em;
    color: black;}

.contenedor{
    
     background-color: rgb(224, 207, 240);
}

.imglogo{
    width:30%;
    padding: 13px;
    padding-left:30%;
    vertical-align: auto;
}
.estilo.enc{
    width: 100%;
    height: 160px;
     background-color: hwb(272 80% 5%);
}
nav{
    width: 100%;
    height: 160px;
     background-color: hwb(272 80% 5%);
    
     
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    transition: 0.8s all;
    padding: 18px 20px;
}
nav ul li:hover {
    background-color: #babaeb;}

.img-logo{
    width: 700px;
    padding: 20px;
    padding-left: 10%;

}
nav ul {
    padding-top: 90px;
    display: inline flex;
    position: relative;
    top: -20px;  
    text-align: center; 
}
nav ul li a {
    text-decoration: none;
    color: black;
}
h2 p figure ul {
    margin: o;}
 img{
    max-width: 100%;
 }

.sesion1{
    background-color: hsl(180, 19%, 49%);
    padding: left 12px;
    line-height:40px;

}

.video {
    max-width: 100%;
    padding: 8px;
    width: 1000px;
}
.boton1{
    text-align: center;
    
}
.texto{
    width: 30%;
    padding:8px;
    padding-left:30%;
    vertical-align: top;

}
.texto, .video{
    display: inline-block; 

}
article{
    padding: 30px;
    padding-left: 30%;
}
.sesion2{
    background-color: #ebddec;
}


.texto2{
    width: 100%;
    padding:8px;
   
    vertical-align: top;
    text-align: center;
    }
.img{
    width:30%;
    padding: 13px;
    padding-left:30%;
    vertical-align: auto;
}
.texto,  .img{
    display: inline block;
}
 .boton{
    text-align: center;
    
 }

 .comt.art{
    width: 740px;
    vertical-align: top;
 }

.sesion3{
    background-color:#e6dbf5;
    padding: left 12px;
    line-height:40px;}
.texto3{
    width: 30%;
    padding:8px;
    padding-left:30%;
    vertical-align: top;
    text-align: center;
}
.boton3
{text-align: center;
    background-color: #e6dbf5}
.img3{
    width: 30%;
    padding:8px;
    padding-left:30%;
    vertical-align: top;
}
.texto,  .img{
    display: inline block;
}
 

 .img.art3{
    max-width: 100%;
    padding-left:80%;

 }
 .comt.art{
    width: 10px;
    vertical-align: top;
 }
footer{
    background-color: hsl(265, 66%, 86%);
    color: black;
    line-height:40px;
    text-align: center;
    padding:20px;
}
footer div a{   
     text-decoration: none;
     color: rgb(23, 20, 56);

}


